node_modules/
obj/
*.env

infrastructure/secret/devSecret.yaml

terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.backup

terraform-eks/.terraform/
terraform-eks/.terraform.lock.hcl
*.tfstate
*.tfstate.backup

devcerts/
infrastructure/certs/