[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = app.nguyenth4nh.id.vn

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = app.nguyenth4nh.id.vn
DNS.2 = api.nguyenth4nh.id.vn
DNS.3 = id.nguyenth4nh.id.vn
